 <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Cagnot'Potes</h5>
                    <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo.</p>
                </div>
                <div class="col l3 s12 offset-l3">
                    <h5 class="white-text">Liens</h5>
                    <ul class="footer-links">
                        <li><a class="white-text" href="#!">Comment ça marche ?</a></li>
                        <li><a class="white-text" href="#!">Voir les campagnes</a></li>
                        <li><a class="white-text" href="#!">Créer une campagne</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made with love by <a class="white-text" href="http://trombi.simplon-roanne.com/">Simplon Roanne</a>
            </div>
        </div>
    </footer>