{% extends 'base.html.twig' %}

{% block title %}Nouveau Paiement{% endblock %}

{% block body %}
    <h1>Creation d'un nouveau  Paiement</h1>

    {{ include('paiement/_form.html.twig') }}

    <a href="{{ path('app_paiement_index') }}">back to list</a>
{% endblock %}
