{%  extends "base.html.twig" %}
{% block title %}Paiement Stripe test {% endblock %}



{% block body %}

<a href="{{ path('app_paiement_test') }}" class="bg-teal-600 text-white px-4 py-2 rounded shadow hover:bg-teal-700">
    Payer 20,00 €
</a>
 {% endblock %} 